<%= form_for @post, html: { multipart: true } do |f| %>

  <p>
    <%= f.label :"Title of Post" %><br />
    <%= f.text_field :title, :placeholder => "What's the Title ?" %>
  </p>  

  <p>
  <i class="material-icons prefix">mode_edit</i>
    <%= f.label :Message %><br />
    <%= f.text_area :body, :placeholder => "Write Something...", :class => 'materialize-textarea' %> 
  </p> 

  <p>
    <%= f.label :"Upload an Image" %><br />
    <%= f.file_field :image, :placeholder => "Upload an Image" %>
  </p>  

  <button class="submit btn waves-effect waves-light" type="submit" name="action">Submit
  <i class="material-icons right">done</i>
  </button>

  <% end %>