<div class="view_wrapper">
  <h1 class= 'title'>
    <%= @post.title %>
  </h1>  

  <p>
    <%= @post.body %>
  </p>  

  <p class= 'date'>
    Submitted <%= time_ago_in_words(@post.created_at) %> ago
    | <%= link_to 'Edit', edit_post_path(@post) %>
    | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure ?"} %>
  </p>
  <br/>
  <br/>
  <br/>
  <div id="comments">
    <h5 class='comment_header'><%= @post.comments.count %> Comments:</h5>
    <br/>
    <%= render @post.comments %>
    <br/>
    <br/>
    <h5 class='comment_header'>Add a comment:</h5>
    <%= render "comments/form" %>
  </div>

</div>    
