<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id= 'sidebar'>
    <div id= 'logo'>
      <img src= ''/>
    </div>
    
    <ul id="slide-out" class="side-nav fixed">
      <p class= 'category'>Website</p>
      <div class= 'side_links'>
        <p><%= link_to 'Blog', root_path %></p>
        <p><%= link_to 'About', about_path %></p>
      </div>

    <ul>
      <p class= 'category'>Social</p>
        <div class= 'side_links'>
          <p><a href='https://www.instagram.com/scot_chard/' target='blank'>Instagram</a></p>
          <p><a href='https://github.com/Scotchard22' target='blank'>Github</a></p>
          <p><a href='https://www.linkedin.com/in/scotchard' target='blank'>LinkedIn</a></p>
          <p><a href='mailto:scot.c.chard@gmail.com'>Email</a></p>
        </div>  
    </ul>
    <% if !user_signed_in? %>
      <div class= 'side_links'>
        <p class=><%= link_to 'Admin Login', new_user_session_path %></p>
      </div>
    <% end %>  
  </div>
    </ul>

  <div id="main_content">
    <div class="header">
      <header id= 'all_posts'><%= link_to 'All Posts', root_path %> </header>
        <% if user_signed_in? %>
          <div class="buttons">
            <button class= 'button'><%= link_to 'Log Out', destroy_user_session_path %></button>
            <button class= 'button'><%= link_to 'New Post', new_post_path %></button>
          </div>
        <% end %>  
       <div id="header_border">
       </div> 
    </div>
    <div class="about_wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: 'alert') %>
      <% end %>  
    </div>
    
    <%= yield %>
  </div>

</body>
</html>
