<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id= 'sidebar'>
    <div id= 'logo'>
      <%= link_to root_path do %>
        <% image_tag "" %>
      <% end %>
    </div>

    <ul>
      <p class= 'category'>Website</p>
        <div class= 'side_links'>
          <p><%= link_to 'Blog', root_path %></p>
          <p id= 'about'>About</p>
        </div>
    </ul>

    <ul>
      <p class= 'category'>Social</p>
        <div class= 'side_links'>
          <p><a href='https://www.instagram.com/scot_chard/' target='blank'>Instagram</a></p>
          <p><a href='https://github.com/Scotchard22' target='blank'>Github</a></p>
          <p><a href='https://www.linkedin.com/in/scotchard' target='blank'>LinkedIn</a></p>
          <p><a href='mailto:scot.c.chard@gmail.com'>Email</a></p>
        </div>  
    </ul>
    <div class= 'side_links'>
      <p class= 'sign_in'> Admin Login</p>
    </div>
  </div>

  <div id="main_content">
    <div id="header">
      <header id= 'all_posts'> All Posts </header>

        <div class="buttons">
          <button class= 'button'><%= link_to 'New Post', new_post_path %></button>
          <button class= 'button'> Log Out </button>
        </div>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: 'alert') %>
    <% end %>  
    
    <%= yield %>
  </div>

</body>
</html>
